<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/Icon.jpg">
    <title>BlogUp</title>
</head>
<body>
    <%- include("navbar")%>
    <div class="text">
        <div>
            <h1>Welcome to <ak>Blogup</ak> </h1>
            <div class="typing">
                <p class="typingText"> 
                    <span class="first">
                        
                    </span>
                    <span class="ak">

                    </span>
                </p>
                <span class="cursor"></span>
            </div>
            
            
        </div>
        <div class="img">
            <img src="/image/Home2.png">
        </div>
    </div>
    <!-- end -->
   <script src="/scripts/home.js"></script>
    
    
</body>
</html>