.form-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    position: relative;
    top: -65px;
    transform: translate(50%,50%);
}

/* General form label styling */
.form-label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}

/* General input styling */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Textarea specific styling */
.form-control.textarea {
    resize: vertical;
    min-height: 100px;
}

/* Submit button styling */
.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #9003fc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Submit button hover effect */
.submit-btn:hover {
    background-color:  #7503cc;
}